name: Build and Deploy Flutter Web App to GitHub Pages

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.9.2' # Use the same version as your project
          channel: 'stable'

      - name: Get dependencies
        run: flutter pub get

      - name: Build Flutter Web App
        run: flutter build web --release --base-href="/snooker_score_board/"
          
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./snooker_score_board/build/web
          publish_branch: gh-pages